<div class="paginator">
  <div class="btn-page" *ngFor="let i of numberOfPages">
    <button mat-button (click)="goToPage(i)">{{i}}</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let item of apresentationArray; let i = index">
    <div class="item card">
      <div class="image">
        <img class="img-imv" [src]="item.images[0]" alt="">
      </div>
      <div class="text-area">
        <h1 class="title">Apartamento para {{ item?.pricingInfos?.businessType === BusinessType.SALE ? 'Venda' : 'Locação' }}</h1>
        <p>{{ item.bedrooms }} quartos | {{ item.bathrooms }} banheiros | {{ item.usableAreas }} m2 | {{ item.parkingSpaces }} vagas</p>
        <p *ngIf="item?.pricingInfos?.businessType === BusinessType.RENTAL">Valor:
          {{  item?.pricingInfos?.rentalTotalPrice | currency: 'BRL' }} /mês</p>
        <p *ngIf="item?.pricingInfos?.businessType === BusinessType.SALE">Valor:
          {{  item?.pricingInfos?.price | currency: 'BRL' }}</p>
        <a class="details-link" (click)="openDialog(item)"><h3>Detalhes ></h3></a>
      </div>
    </div>
  </div>
</div>