<div class="title">
  <h2>Apartamento para {{ property?.pricingInfos?.businessType === BusinessType.SALE ? 'Venda' : 'Locação' }}</h2>
  <p> {{ property.bedrooms }} quartos |  {{ property.bathrooms }} banheiros | {{ property.usableAreas }} m2 | {{ property.parkingSpaces }} vagas</p>
  <p *ngIf="property?.pricingInfos?.businessType === BusinessType.RENTAL">Valor: {{  property.pricingInfos.rentalTotalPrice | currency: 'BRL' }} /mês</p>
  <p *ngIf="property?.pricingInfos?.businessType === BusinessType.SALE">Valor: {{  property.pricingInfos.price | currency: 'BRL' }}</p>

 
</div>

<div>
  <div class="img-max" *ngFor="let image of property.images">
    <div (click)="selectImage(image)">
      <img class="img-miniature" [src]="image" alt="">
    </div>
  </div>
</div>
<div *ngIf="imageSelected">
  <img class="img-expand" [src]="imageSelected" alt="">
</div>